.message-row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }
  
/*   
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
  } */
  
  .message-content {
    display: flex;
    flex-direction: column;
    max-width: 75%;
  }
  
  .meta {
    display: flex;
    gap: 8px;
    align-items: baseline;
    margin-bottom: 2px;
  }
  
  .name {
    font-weight: 600;
    font-size: 0.9rem;
    color: #fff;
  }
  
  .time {
    font-size: 0.75rem;
    color: #aaa;
  }
  
  
  .bubble {
    padding: 10px 14px;
    background: #2a2a2a;
    border-radius: 8px;
    font-size: 0.9rem;
    color: white;
    line-height: 1.35;
  }
  
  .message-row.me .bubble {
    background: #3b82f6;
  }
  