/* ============================================
   THEME COLORS - LIGHT MODE
   ============================================ */
/* ============================================
   THEME COLORS - LIGHT MODE
   ============================================ */
   .theme-light {
    --gradient: linear-gradient(135deg, #BCD8FC 0%, #fdcb8a 100%); /* light blue to soft yellow */
    --dark-text: #1a1a1a;
    --light-text: #6b7280;
    --accent: #DBE7E4;
    --button-border: rgba(253, 254, 255, 0.95);
}

/* ============================================
   THEME COLORS - DARK MODE
   ============================================ */
.theme-dark {
   --gradient: linear-gradient(135deg, #2f3061 0%, #3d2c65 50%, #5e5285 100%);
 
    --dark-text: #EAE9FC;
    --light-text: #9ca3af;
    --accent: #60a5fa;
    --button-border: rgba(13, 26, 39, 0.95);
}

/* 
  /*--gradient: linear-gradient(135deg, #2158a0 0%, #4d1e8a 100%);  dark blue gradient 
other options 
red: (light: #E86D6D), (dark: #921717)
green: (light: #B0CE69), (dark: #789631)
blue/purple: (light: #6987CE), (dark: #314F96)
*/